body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #ededed;
}

h1,h2 {
    color: #0000ff;
    border-bottom: 1px solid #929ca4;
}

body p:first-of-type::first-letter {
    font-size: 30px;
}

.features::first-line {
    color: #cc1c0d;
    font-weight: bold;
}

#testimonial1, #testimonial2 {
    font-style: italic;
    margin-left: 50px;
}

a:link {
    text-decoration-color: #deb887;
    text-decoration-thickness: 20%;
    color: #9acd32;
}
a:hover {
    text-decoration-color: #9acd32;
    text-decoration-thickness: 20%;
    color: #deb887;
}

ul li {
    list-style-type: none;
}

ul li:first-child {
    color: #0000ff;
}

ul li:last-child {
    color: #ff0000;
}