body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}

h1,h2 {
    color: blue;
    border-bottom: 1px solid #929CA4;
}

body p:first-of-type::first-letter {
    font-size: 30px;
}

.features::first-line {
    color: #CC1C0D;
    font-weight: bold;
}

#testimonial1, #testimonial2 {
    font-style: italic;
    margin-left: 50px;
}

a:link {
    text-decoration-color: burlywood;
    text-decoration-thickness: 20%;
    color: yellowgreen
}
a:hover {
    text-decoration-color: yellowgreen;
    text-decoration-thickness: 20%;
    color: burlywood
}

ul li {
    list-style-type: none;
}

ul li:first-child {
    color: blue
}

ul li:last-child {
    color: red
}