body {
    font: 1em/2em Arial, Helvetica, sans-serif;
    max-width: 100%;
    margin: 20px;
    width: 960px;
}

img {
    width: 100%;
}

nav li {
    color: #222e50;
    list-style-type: none;
    margin-left: -39px;
}

h2 {  
    background-color: #efefef;
    border: 1px solid #222e50;
    border-radius: 5px;
    color:#b3679b;
    padding-left: 10px;
}

a {
    color: #b3679b;
}

section p {
    border: 1px solid #222e50;
    border-radius: 20px;
    box-sizing: content-box;
    padding: 20px;
    text-align: center;
    width: 33%;
}

.title {
    font-weight: bold;
}
/* Our Team Table */
td {
    padding: 20px;
}

tr td:first-child {
    background: #f2f2f2;
}

table td:only-child {
    background: none;
}
/* Features Page */
.feature-container {
    background-color: #efefef;
    border-radius: 20px;    
    margin: 20px 40px;
    padding: 2px 290px;
}

.feature-container p:first-child {
    font-weight: bold ;
    text-align:center ;
}

.feature-container p:nth-child(2) {
    width: 300px;
}

.feature-container p:nth-child(3) {
    margin: 30px -280px 10px -270px;
    padding-top: 30px 10px;
}

.feature-container ul {
    list-style-position: outside;
    margin: 10px -200px 30px -255px;
    padding-top: 30px 10px;
}

.feature-container p:last-child {
    font-weight: lighter;
    margin: 30px -260px 30px -195px;
    padding-top: 30px 10px;
    text-align: right;
}

.community {
    padding-right: 320px;
}

.community div:first-child img {
    border-bottom: 10px solid #7ca982;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 90%;
}

.community div:nth-child(2) img {
    border-bottom: 10px solid #e6a563;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 90%;
}

.community div:nth-child(3) img {
    border-bottom: 10px solid #b36793;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 90%;
}

.community div {
    border: 1px solid #222e50;
    border-radius: 20px;
    box-sizing: content-box;
    margin: 20px 0px;
    padding: 10px 1px;
    text-align: center;
    width: 55%;
}

.community p {
    border: none;
    margin: 10px 10px;
    padding: 5px 5px;
    text-align: center;
    width: fit-content;
}

.community p span:first-child {
    font-weight: bold;
}

.community div span:nth-child(3) {
    font-style: italic;
}