body {
    font: 1em/2em Arial, Helvetica, sans-serif;
    max-width: 100%;
    margin: 20px;
    width: 960px;
}

img {
    width: 100%;
}

nav ul {
    color: #222e50;
    list-style-type: none;
    padding: 0;
}

nav ul ul {
    padding-left: 40px;
}

.active {
    color: #222e50;
}

a, h2 {
    color: #b3679b;
}

h2 {  
    background-color: #efefef;
    font-size: 1em;
    border: 1px solid #222e50;
    border-radius: 5px;
    padding-left: 10px;
}

section:nth-last-of-type(2) p {
    width: 33%;
    border: 1px solid #222e50;
    border-radius: 30px;
    padding: 30px;
    text-align: center;    
}

.title {
    font-weight: bold;
}
/* Our Team Table */
td {
    padding: 20px;
}

tr td:first-child {
    background: #f2f2f2;
}

tr td:first-child img {
    width: fit-content
}

table td:only-child {
    background: none;
}
/* Features Page */
.feature-container {
    background-color: #efefef;
    text-align: center;
    border-radius: 20px;    
    margin-bottom: 20px;
    padding: 20px;
}

.feature-container img {
    width: 300px;
    border-radius: 20px;
}

.feature-container p:first-child {
    font-size: 20px;
}

.feature-container p:nth-child(3), .feature-container ul {
    text-align: left;
}

.feature-container p:last-child {
    text-align: right;
}

/* .feature-container p:first-child {
    font-weight: bold;
    text-align:center;
}

.feature-container p:nth-child(2) img {
    border-radius: 20px;
    width: 300px;
}

.feature-container p:nth-child(3) {
    margin: 20px -280px 10px -270px;
}

.feature-container ul {
    list-style-position: outside;
    margin: 10px -229px 10px -250px;
    padding-top: 30px;
}

.feature-container p:last-child {
    font-weight: lighter;
    margin: 30px -260px 30px -195px;
    padding-top: 5px;
    text-align: right;
} */
/* Community Page */
.community div {
    width: 300px;
    border: 1px solid #222e50;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.community div h3 {
    padding-top: 20px;
}

.community div:first-child h3 {
    border-top: 10px solid #7ca982;
}
.community div:nth-child(2) h3 {
    border-top: 10px solid #e6a563;
}
.community div:first-child h3 {
    border-top: 10px solid #b36793;
}

.community div p span:first-of-type {
    font-weight: bold;
}

.community div p span:last-of-type {
    font-style: italic;
}


/* .community {
    padding-right: 320px;
}

.community div:first-child img {
    border-bottom: 10px solid #7ca982;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 90%;
}

.community div:nth-child(2) img {
    border-bottom: 10px solid #e6a563;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 90%;
}

.community div:nth-child(3) img {
    border-bottom: 10px solid #b36793;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 90%;
}

.community div {
    border: 1px solid #222e50;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 20px 15px;
    padding: 10px 5px;
    text-align: center;
    width: 55%;
}

.community p {
    border: none;
    margin: 10px 10px;
    padding: 5px 5px;
    text-align: center;
    width: fit-content;
}

.community p span:first-child {
    font-weight: bold;
}

.community div span:nth-child(3) {
    font-style: italic;
} */